// ======= Variables =======
// Colors
$clr-primary-800: #2b2e74;
$clr-primary-500: #353ea6;
$clr-primary-300: #5857b3;
$clr-primary-200: #928bcd;

$clr-secondary-800: #2b2b2b;
$clr-secondary-500: #3a3a3a;
$clr-secondary-300: #6d6d6d;
$clr-secondary-200: #a5a5a5;

$clr-text: #ffffff;

html {
    background-color: $clr-secondary-500;

    * {
        font-family: 'Roboto', sans-serif;
        color: $clr-text;
    }
}

header,
footer {
    width: 100%;
    height: 5rem;

    background-color: $clr-primary-800;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0;

        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }
}

.game-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 2rem 0;

    position: relative;
}

.game {
    &__icon {
        height: 4rem;
    }

    &__title {
        margin: 0.5rem 0;

        &--human {
            margin-top: 2rem;
        }

        &--computer {
            margin: 1.5rem 0;
        }
    }

    &__description {
        margin: 0;
    }

    &__cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        height: 100%;

        position: static;
        opacity: 1;
        transition: all 1s ease;
    }
}

.cards-container {
    &--human {
        position: relative;

        width: 32rem;
        height: 10rem;

        margin: 0;
    }

    &--computer {}
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 10rem;
    width: 10rem;

    background-color: $clr-primary-800;
    border-radius: 1rem;

    box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.75);

    transition-property: box-shadow, transform;
    transition-duration: 500ms;
    transition-timing-function: ease;

    &__img {
        width: 6rem;
    }

    &__title {
        margin: 1rem 0 0 0;
    }


    &--human {
        position: absolute;
        top: 0;
        left: 0;

        cursor: pointer;

        transition: all 500ms ease;


        &:nth-child(2) {
            left: 11rem;
        }

        &:nth-child(3) {
            left: 22rem;
        }

        &:hover {
            box-shadow: 10px 11px 5px -2px rgba(0, 0, 0, 0.75);
            transform: scale(105%);
        }
    }
}

.collapsed {
    .card--human {
        left: 11rem;
    }

    .selected {
        z-index: 10;
    }
}

.scoreboard {
    width: 33rem;
    height: 15rem;

    padding: 0;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $clr-primary-800;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.75);

    border: 2px solid $clr-secondary-300;

    margin: 2.5rem 0;

    transition: all 2s ease;

    &__players-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 3rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    &__player {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 0.5rem;

        background-color: $clr-primary-300;
        border-radius: 0.6rem;

        width: 8rem;
        height: 5rem;

        &__score {
            margin: 0;

            font-size: 1.5rem;
        }

        &__name {
            margin: 0;

            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }
    }

    .endgame {
        display: block;
        opacity: 0;

        transition: all 1s ease;
    }
}

.game__cards-container.final {
    position: absolute;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

.scoreboard.final {
    z-index: 100;
    margin: 2rem 0;

    height: 25rem;

    align-items: center;
    justify-content: start;

    .endgame {
        opacity: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 5rem;

        &__info {
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
            text-align: center;
        }

        &__btn {
            width: 8rem;
            height: 3rem;

            background-color: $clr-primary-200;

            border: none;
            border-radius: 0.5rem;

            box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.75);
            transform: scale(105%);

            transition: all 100ms ease;

            cursor: pointer;

            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: $clr-primary-800;
            font-weight: 600;

            &:active {
                box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.75);
                transform: scale(100%);
            }
        }
    }
}